##
## Cloudflare (cloudflare.com)
##
ssl=yes	
protocol=cloudflare,                           \
server=www.cloudflare.com,                     \
login=                          \
password=              \
plusberry.networkanthony.com,
